target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
spring-file-manager.log
project-base.log
project-base.log.*
upload/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Ephemeral.xcconfig
ios/Flutter/Generated.xcconfig
android/key.properties

.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
.metadata
local.properties

android/
ios/
web/
windows/
macos/
linux/
test/
